.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-1 {
  flex: 0 0 8.333333%;
}

.col-sm-2 {
  flex: 0 0 16.666666%;
}

.col-sm-3 {
  flex: 0 0 25%;
}

.col-sm-4 {
  flex: 0 0 33.3333333%;
}

.col-sm-5 {
  flex: 0 0 41.666666%;
}

.col-sm-6 {
  flex: 0 0 50%;
}

.col-sm-7 {
  flex: 0 0 58.333333%;
}

.col-sm-8 {
  flex: 0 0 66.666666%;
}

.col-sm-9 {
  flex: 0 0 75%;
}

.col-sm-10 {
  flex: 0 0 83.333333%;
}

.col-sm-11 {
  flex: 0 0 91.666666%;
}

.col-sm-12 {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666666%;
  }

  .col-md-3 {
    flex: 0 0 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666666%;
  }

  .col-md-6 {
    flex: 0 0 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666666%;
  }

  .col-md-9 {
    flex: 0 0 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666666%;
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666666%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666666%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666666%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666666%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}


/** 隐藏元素 */
@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/* 显示元素 */
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}

/* 按钮样式 */
.btn {
  border: none;
  outline: none;
  color:#ffffff;
  border-radius: 5px;
  padding: 0rem 1rem;
  box-sizing: border-box;
  font-size: 0.7rem;
  line-height: 1.6rem;
  transition: all 0.1s linear;
  margin: 0px 8px;
}
@media (max-width: 1119px) {
  .btn {
    padding: 0rem 0.6rem;
  }
}

.btn i {
  margin-right: 3px;
}

/** 播放按钮 */
.btn-play {
  background-color: var(--sub-color);
}
.btn-play:hover {
  box-shadow: 0 0 0.6rem var(--sub-color);
}

/** 下载按钮 */
.btn-download {
  background-color: var(--main-color);
}
.btn-download:hover {
  box-shadow: 0 0 0.6rem var(--main-color);
}

/** 收藏按钮 */
.btn-collect {
  background-color: var(--third-color);
}
.btn-collect:hover {
  box-shadow: 0 0 0.6rem var(--third-color);
}

/** 评分按钮 */
.btn-score {
  color: #333333;
  background-color: #eeeeee;
  padding: 0rem 0.4rem;
}
.btn-score:hover {
  opacity: 0.8;
  box-shadow: 0 0 0.6rem var(--third-color);
}

/** 分享按钮 */
.btn-share {
  color: #000000;
  background-color: transparent;
}
.btn-share:hover {
  font-weight: 600;
}

/** 地址切换按钮 */
.btn-addr {
  color: #414141;
  background-color: transparent;
}
.btn-addr:hover {
  color: var(--third-color);
  text-decoration: underline;
}

/** 随机视频切换按钮 */
.btn-switch {
  float: right;
  transform: translateY(-5px);
  background-color: var(--nav-color);
}
.btn-switch:hover {
  opacity: 0.8;
}

/** 统一样式 */
body{
  margin: 0px;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0px;
}
